/* stylelint-disable custom-property-pattern */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Palette */
  --palette-bg-black: rgb(21, 26, 38);
  --palette-bg-white: #fff;

  /* Indicates that the element can be rendered using 
   * the operating system dark color scheme. 
   * https://developer.mozilla.org/en-US/docs/Web/CSS/color-scheme */
  color-scheme: dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

html .font-robotoMono {
  font-family: var(--font-roboto-mono);
}

html .font-inter {
  font-family: var(--font-inter);
}

body {
  height: 100%;
  margin: 0;
  background-color: var(--palette-bg-black);
  color: var(--palette-bg-white);
  font-family: Inter, sans-serif;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

a {
  text-decoration: underline;
}

svg {
  display: block;
  overflow: visible;
  vertical-align: middle;
}

ul {
  padding-inline-start: 0;
}

/* stylelint-disable-next-line */
#__next {
  position: relative;
  z-index: 0;
}